<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="lobsterdeath" class="img-responsive text-center" src="http://sener.is/lobster.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        LobsterDeath
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/#!/form" target="_blank">Get Started</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Are you looking for an improv group? A writing group? A band?</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
        <img src="https://d13yacurqjgara.cloudfront.net/users/136820/screenshots/792512/ultimo-harold.jpg" height='200' width='300' alt="Kiwi standing on oval">
      <h2>
				<strong>I</strong>mprovers
			</h2>
      <p>LobsterDeath uses algorithms to help you find the teammates you'll be most compatible with. We factor in experience, interest, tastes, politics, and personality to help you find what you're looking for.</p>
    </div>
    <div class="col-md-3">
      <img src="https://d13yacurqjgara.cloudfront.net/users/375306/screenshots/1761881/typewriter_1x.jpg" height='200' width='300' alt="">
      <h2>
				<strong>W</strong>riters
			</h2>
      <p>In the near future, LobsterDeath will help you find other writers to workshop with based on your tastes, workshopping style, experience, and commitment levels.</p>
    </div>
    <div class="col-md-3">
          <img src="http://i.imgur.com/0OXg5.png" height='200' width='300' alt="Saxophone SVG">
      <h2>
				<strong>M</strong>usicians
			</h2>
      <p>In the semi-near future, LobsterDeath will help you find bandmates and collaborators that share your tastes and expectations.</p>
    </div>
  </div>
  <div class="well">
<!--     <h2>Find Collabotators like these!</h2>
    <p>
      pictures go here
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p> -->
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The LobsterDeath Team.
</section>
