<section data-ng-controller="ArticlesController" data-ng-init="find()">
	

	<div class="directoryHeader">
		<h1>Directory</h1>
		  Search: <input ng-model="query">
	</div>
	<div class="list-group">
		<a data-ng-repeat="article in articles | filter:query" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<!-- <small class="list-group-item-text"> -->
				<img ng-src="{{ article.basic.picture }}" height="100px">
				<span class="directoryName">{{ article.username }}</span> {{ article.basic.age }} year old {{ article.fixed.gender }} in {{ article.basic.location }}
				<!-- <span data-ng-bind="article.username"</span>, <span data-ng-bind="article.basic.age"</span> year old <span data-ng-bind="article.fixed.gender"</span> in <span data-ng-bind="article.basic.location"</span> {{ article.basic.age }} test -->
				
				
			<!-- </small> -->
			<!-- <h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text" data-ng-bind="article.content"></p> -->
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No users yet, why don't you <a href="/#!/articles/create">sign up</a>?
	</div>
</section>