<!-- TODO:
    Fix links: glyphicon, style.css, profile img


 -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Profile</title>

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

    <!-- FIX THIS -->
    <style>
      body {
        padding: 50px;
        font: 14px "Open Sans", Helvetica, Arial, sans-serif;
      }

      a {
        color: #00B7FF;
      }

      #profile-thumb {
        position: relative;
        width: 300px;
        height: 250px;
      }

      #profile-thumb img {
        position: absolute;
        top: 0%;
      }

      .empty-spacing {
        margin: 0 2px;
      }

      #glyphicon-pencil {
        width: 15px;
        height: 15px;
      }

      .tabs .tab a {
        color: #8C78BD;
      }

      .tabs .tab a:hover {
        color: #AD93E9;
      }

      .tabs .indicator {
        background-color: #8C78BD;
      }

      #tab-text-center {
        text-align: center;
      }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- HEADER SECTION -->
    <div class="row">
      <div class="col s3" id="profile-thumb">
        <!-- FIX THIS -->
        <!-- src should be /public/modules/articles/images/profile-img.webp -->
        <img src="./images/profile-img.webp" alt="profile pic">
      </div>
      <div class="col s3">
        <span id="username" class="flow-text">lobsteranddeath</span>
        <br>
        <span id="age">35</span>
        <span class="bullet">&#149;</span>
        <span id="location">Los Angeles</span>
        <span class="bullet">&#149;</span>
        <span id="gender">Male</span>
        <span class="empty-spacing"></span>

        <!-- FIX THIS -->
        <!-- src should be /public/modules/articles/images/glyphicons/glyphicons-31-pencil.png -->
        <img id="glyphicon-pencil" src="./images/glyphicons/glyphicons-31-pencil.png" alt="pencil-glyphicon">
      </div>
    </div>

    <div class="row">
    <!-- TABS SECTION -->
      <div class="col s12 z-depth-1" >
        <ul class="tabs" id="tab-text-center">
          <li class="tab col s3">
            <a class="active " href="#about">About</a>
          </li>
          <li class="tab col s3">
            <a class="" href="#photos">Photos</a>
          </li>
          <li class="tab col s3">
            <a class="" href="#questions">Questions</a>
          </li>
          <li class="tab col s3">
            <a class="" href="#personality">Personality</a>
          </li>
        </ul>
      </div>

      <br>
      <!-- MAIN SECTION -->
      <div class="col s12 z-depth-1" id="about">
        <div class="col s6">
          <p class="flow-text">
            Basic info:
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae autem reiciendis quibusdam doloribus quo sapiente maxime omnis libero, fugiat ratione. Tempora tenetur ex, dolores cum magnam expedita neque non temporibus!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quod, exercitationem. Praesentium quibusdam eveniet debitis eaque officia numquam aperiam quod quaerat molestias asperiores beatae incidunt, facilis nesciunt delectus sed reiciendis.
          </p>
        </div>
        <div class="col s6">
          <p class="flow-text">
            Looking for:
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ex, dolores minus voluptatum atque voluptatibus, sed architecto numquam in nobis praesentium, expedita, tempora assumenda sit blanditiis? Sit laudantium nam doloribus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam debitis magnam alias maiores sapiente quia corporis voluptatem nostrum nam corrupti repellendus doloremque iste fugiat quidem vel obcaecati, enim possimus consequuntur.
          </p>
        </div>
      </div>

      <div class="col s12 z-depth-1" id="photos">
        <p class="flow-text">
          Photos section
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sapiente assumenda facere ut cupiditate excepturi incidunt, tempora est libero. Voluptatibus quibusdam impedit eligendi iure fuga nemo vero voluptate laboriosam, quas.
        </p>
      </div>

      <div class="col s12 z-depth-1" id="questions">
        <p class="flow-text">
          Questions section
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint natus temporibus voluptates vero tempora harum, qui debitis recusandae rem! Cum molestias animi officia nisi veniam assumenda, accusantium sapiente ea amet.
        </p>
      </div>

      <div class="col s12 z-depth-1" id="personality">
        <p class="flow-text">
          Personality section
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae est aliquid consequatur deserunt, vel maxime veniam ipsum, labore. Quidem alias repellat perspiciatis fugiat veritatis, distinctio dolorem maxime laborum nihil nemo.
        </p>
      </div>
    </div>
    

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  </body>
</html>