<section data-ng-controller="ArticlesController">
  <div class="page-header">
    <h1>How do you identify?</h1>
    <h2>We ask for those looking to form groups around a specific identity. Responses optional.</h2>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
          <h2 class="control-label col-xs-6 col-xs-offset-3" for="title">Age: </h2>
          <div class="form-group">
            <input class="form-control-static" id="focusedInput" ng-model='formData.fixed.age' type="number" value="in years">
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
          <h2 class="control-label col-xs-6 col-xs-offset-2" for="title">Gender</h2>
          <div class="form-group">
            <div class="btn-toolbar">
              <div class="btn-group">
                <br></br>
                <a ng-model='formData.fixed.gender' class="btn btn-default">Male</a>
                <a ng-model='formData.fixed.gender' class="btn btn-default">Female</a>
                <a ng-model='formData.fixed.gender' class="btn btn-default">Female to Male Transgender</a>
                <a ng-model='formData.fixed.gender' class="btn btn-default">Male to Female Transgender</a>
                <a ng-model='formData.fixed.gender' class="btn btn-default">Androgynous</a>
                <a ng-model='formData.fixed.gender' class="btn btn-default">Intersex</a>
                <a ng-model='formData.fixed.gender' class="btn btn-default">Not Sure</a>
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
            <h2 class="control-label col-xs-6 col-xs-offset-2" for="title">Ethnic Identity</h2>
            <div class="form-group">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <br></br>
                  <a ng-model='formData.fixed.ethnicity' class="btn btn-default">African</a>
                  <a ng-model='formData.fixed.ethnicity' class="btn btn-default">East Asian</a>
                  <a ng-model='formData.fixed.ethnicity' class="btn btn-default">South Asian</a>
                  <a ng-model='formData.fixed.ethnicity' class="btn btn-default">European</a>
                  <a ng-model='formData.fixed.ethnicity' class="btn btn-default">Native American</a>
                  <a ng-model='formData.fixed.ethnicity' class="btn btn-default">Pacific Islander</a>
                  <a ng-model='formData.fixed.ethnicity' class="btn btn-default">Mixed</a>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
              <h2 class="control-label col-xs-6 col-xs-offset-2" for="title">Do you identify as LGBT?</h2>
              <div class="form-group">
                <div class="btn-toolbar">
                  <div class="btn-group">
                    <br></br>
                    <a ng-model='formData.fixed.orientation' class="btn btn-default">Yes</a>
                    <a ng-model='formData.fixed.orientation' class="btn btn-default">No</a>
                    <a ng-model='formData.fixed.orientation' class="btn btn-default">Prefer not to answer</a>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                <h2 class="control-label col-xs-6 col-xs-offset-2" for="title">Party Politics</h2>
                <div class="form-group">
                  <div class="btn-toolbar">
                    <div class="btn-group">
                      <br></br>
                      <a ng-model='formData.fixed.politics' class="btn btn-default">Democrat</a>
                      <a ng-model='formData.fixed.politics' class="btn btn-default">Republican</a>
                      <a ng-model='formData.fixed.politics' class="btn btn-default">Libertarian</a>
                      <a ng-model='formData.fixed.politics' class="btn btn-default">Independent</a>
                      <a ng-model='formData.fixed.politics' class="btn btn-default">Indifferent</a>
                      <a ng-model='formData.fixed.politics' class="btn btn-default">Other</a>
                    </div>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                  <h2 class="control-label col-xs-6 col-xs-offset-2" for="title">Experience in improv/comedy</h2>
                  <div class="form-group">
                    <div class="btn-toolbar">
                      <div class="btn-group">
                        <br></br>
                        <a ng-model='formData.fixed.experienceInYears' class="btn btn-default">A few months or less</a>
                        <a ng-model='formData.fixed.experienceInYears' class="btn btn-default">About a year</a>
                        <a ng-model='formData.fixed.experienceInYears' class="btn btn-default">A few years</a>
                        <a ng-model='formData.fixed.experienceInYears' class="btn btn-default">Five or more years</a>
                        <a ng-model='formData.fixed.experienceInYears' class="btn btn-default">A decade or more</a>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                    <h2 class="control-label col-xs-6 col-xs-offset-2" for="title">Formal Education</h2>
                    <div class="form-group">
                      <div class="btn-toolbar">
                        <div class="btn-group">
                          <br></br>
                          <a ng-model='formData.fixed.education' class="btn btn-default">The Annoyance</a>
                          <a ng-model='formData.fixed.education' class="btn btn-default">Groundlings</a>
                          <a ng-model='formData.fixed.education' class="btn btn-default">iO</a>
                          <a ng-model='formData.fixed.education' class="btn btn-default">The Nerdist</a>
                          <a ng-model='formData.fixed.education' class="btn btn-default">PIT</a>
                          <a ng-model='formData.fixed.education' class="btn btn-default">Second City</a>
                          <a ng-model='formData.fixed.education' class="btn btn-default">UCB</a>
                          <a ng-model='formData.fixed.education' class="btn btn-default">Other</a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                      <h2 class="control-label col-xs-6 col-xs-offset-2" for="title">Are you currently enrolled in or signed up for an upcoming class?</h2>
                      <div class="form-group">
                        <div class="btn-toolbar">
                          <div class="btn-group">
                            <br></br>
                            <a ng-model='formData.fixed.inClasses' class="btn btn-default">Yes</a>
                            <a ng-model='formData.fixed.inClasses' class="btn btn-default">No</a>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                        <h2 class="control-label col-xs-6 col-xs-offset-2" for="title">Are you currently in a group?</h2>
                        <div class="form-group">
                          <div class="btn-toolbar">
                            <div class="btn-group">
                              <br></br>
                              <a ng-model='formData.fixed.inGroup' class="btn btn-default">Yes</a>
                              <a ng-model='formData.fixed.inGroup' class="btn btn-default">No</a>
                            </div>
                          </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                          <h2 class="control-label col-xs-6 col-xs-offset-2" for="title">What are you hoping to find here?</h2>
                          <div class="form-group">
                            <div class="btn-toolbar">
                              <div class="btn-group">
                                <br></br>
                                <a ng-model='formData.fixed.seeking' class="btn btn-default">Friends</a>
                                <a ng-model='formData.fixed.seeking' class="btn btn-default">Collaborators</a>
                                <a ng-model='formData.fixed.seeking' class="btn btn-default">A new group</a>
                                <a ng-model='formData.fixed.seeking' class="btn btn-default">New members for a current group</a>
                              </div>
                            </div>
                          </div>


                          <div class="form-group col-xs-6 col-xs-offset-3">
                            <input type="submit" href="quest3" class="btn btn-default" value="Next Section">
                          </div>
                        </div>
                        <div data-ng-show="error" class="text-danger">
                          <strong data-ng-bind="error"></strong>
                        </div>
      </fieldset>
    </form>
    </div>
</section>
