<h2 class="control-label col-xs-6 col-xs-offset-3" for="title">Username</h2>
<div class="form-group">
  <input class="form-control-static" id="focusedInput" ng-model='formData.basic.username' type="text" value="I am 13 of of 29 tomatoes on stage, I am simply hilarious.">
</div>


<h2 class="control-label col-xs-6 col-xs-offset-3" for="title">Zip Code</h2>
<div class="form-group">
  <input class="form-control-static" id="focusedInput" ng-model='formData.basic.location' type="text" value="I am 13 of of 29 tomatoes on stage, I am simply hilarious.">
</div>


<h2 class="control-label col-xs-6 col-xs-offset-3" for="title">Age</h2>
<div class="form-group">
  <input class="form-control-static" id="focusedInput" ng-model='formData.basic.age' type="number" value="I am 13 of of 29 tomatoes on stage, I am simply hilarious.">
</div>

<h2 class="control-label col-xs-6 col-xs-offset-3" for="title">Picture</h2>
<div class="form-group">
  <input class="form-control-static" id="focusedInput" ng-model='formData.basic.picture' type="text" value="I am 13 of of 29 tomatoes on stage, I am simply hilarious.">
</div>

<div class="form-group col-xs-6 col-xs-offset-3">
  <a type="submit" ui-sref="form.quest2" class="btn btn-default">Next Section</a>
</div>