<h3 class="control-label col-xs-6 col-xs-offset-3" for="title">How would your peers describe you?</h3>
<div class="form-group col-xs-6 col-xs-offset-4">
  <input class="form-control" id="focusedInput" ng-model='formData.essay.about' type="text" placeholder="Relentlessly fearless">
</div>

<h3 class="control-label col-xs-6 col-xs-offset-3" for="title">Where have you studied and for how long?</h3>
<div class="form-group col-xs-6 col-xs-offset-4">
  <input class="form-control" id="focusedInput" ng-model='formData.essay.improvExperience' type="text" placeholder="Poehler and I are tight...">
</div>

<h3 class="control-label col-xs-6 col-xs-offset-3" for="title">Do you have other acting or comedy experience?</h3>
<div class="form-group col-xs-6 col-xs-offset-4">
  <input class="form-control" id="focusedInput" ng-model='formData.essay.otherExperience' type="text" placeholder="Umm uou should know me">
</div>

<h3 class="control-label col-xs-6 col-xs-offset-3" for="title">Who or what is funny to you?</h3>
<div class="form-group col-xs-6 col-xs-offset-4">
  <input class="form-control" id="focusedInput" ng-model='formData.essay.funny' type="text" placeholder="I am simply hilarious.">
</div>

<h3 class="control-label col-xs-6 col-xs-offset-3" for="title">What forms or styles do you like?</h3>
<div class="form-group col-xs-6 col-xs-offset-4">
  <input class="form-control" id="focusedInput" ng-model='formData.essay.styles' type="text" placeholder="I am my own style">
</div>

<h3 class="control-label col-xs-6 col-xs-offset-3" for="title">Favorite shows, movies, etc?</h3>
<div class="form-group col-xs-6 col-xs-offset-4">
  <input class="form-control" id="focusedInput" ng-model='formData.essay.favoriteShows' type="text" placeholder="Broad City, SNL...">
</div>

<h3 class="control-label col-xs-6 col-xs-offset-3" for="title">What's your idea of the perfect group?</h3>
<div class="form-group col-xs-6 col-xs-offset-4">
  <input class="form-control" id="focusedInput" ng-model='formData.essay.ideal' type="text" placeholder="Like UCB but more talent">
</div>

<h2 class="control-label col-xs-6 col-xs-offset-3" for="title">How often do you want your group to meet or perform, and where?</h2>
<div class="form-group">
  <input class="form-control-static" id="focusedInput" ng-model='formData.essay.workstyle' type="text" value="I am 13 of of 29 tomatoes on stage, I am simply hilarious.">
</div>

<h3 class="control-label col-xs-6 col-xs-offset-3" for="title">I'm looking to connect with... </h3>
<div class="form-group col-xs-6 col-xs-offset-4">
  <input class="form-control" id="focusedInput" ng-model='formData.essay.lookingFor' type="text" placeholder="People like me!">
</div>

<div class="form-group col-xs-6 col-xs-offset-4">
<input type="submit" class="btn btn-default" placeholder="Create Profile">
</div>
