<h3 class="col-xs-6 col-xs-offset-1" for="title">Gender</h3>
<div class="form-group col-xs-6 col-xs-offset-2">
    <input type="radio" ng-model='formData.fixed.gender' value="male">Male
  <br>
    <input type="radio" ng-model='formData.fixed.gender' value="female">Female
  <br>
    <input type="radio" ng-model='formData.fixed.gender' value="mtf">Male to Female Transgender
  <br>
    <input type="radio" ng-model='formData.fixed.gender' value="ftm">Female to Male Transgender
  <br>
    <input type="radio" ng-model='formData.fixed.gender' value="androgynous">Androgynous
  <br>
    <input type="radio" ng-model='formData.fixed.gender' value="notsure">Not Sure
</div>

<h3 class="col-xs-6 col-xs-offset-1" for="title">Ethnic Identity</h3>
<div class="form-group col-xs-6 col-xs-offset-2">
      <input type="radio" ng-model='formData.fixed.ethnicity' value="african">African
    <br>
      <input type="radio" ng-model='formData.fixed.ethnicity' value="eastasian">East Asian
    <br>
      <input type="radio" ng-model='formData.fixed.ethnicity' value="southasian">South Asian
    <br>
      <input type="radio" ng-model='formData.fixed.ethnicity' value="european">European
    <br>
      <input type="radio" ng-model='formData.fixed.ethnicity' value="hispanic">Hispanic-Latino-Chicano
    <br>
      <input type="radio" ng-model='formData.fixed.ethnicity' value="middleeastern">Middle Eastern
    <br>
      <input type="radio" ng-model='formData.fixed.ethnicity' value="nativeamerican">Native American
    <br>
      <input type="radio" ng-model='formData.fixed.ethnicity' value="paciticislander">Pacific Islander
    <br>
      <input type="radio" ng-model='formData.fixed.ethnicity' value="mixed">Mixed
</div>

<h3 class="col-xs-6 col-xs-offset-1" for="title">Do you identify as LGBT?</h3>
<div class="form-group col-xs-6 col-xs-offset-2">
    <input type="radio" ng-model='formData.fixed.orientation' value="yes">Yes
  <br>
    <input type="radio" ng-model='formData.fixed.orientation' value="no">No
  <br>
    <input type="radio" ng-model='formData.fixed.orientation' value="myob">Prefer Not to Answer
</div>

<h3 class="col-xs-6 col-xs-offset-1" for="title">Party Politics</h3>
<div class="form-group col-xs-6 col-xs-offset-2">
    <input type="radio" ng-model='formData.fixed.politics' value="democrat">Democrat
  <br>
    <input type="radio" ng-model='formData.fixed.politics' value="republican">Republican
  <br>
    <input type="radio" ng-model='formData.fixed.politics' value="libertarian">Libertarian
  <br>
    <input type="radio" ng-model='formData.fixed.politics' value="independent">Independent
  <br>
    <input type="radio" ng-model='formData.fixed.politics' value="indifferent">Indifferent
  <br>
    <input type="radio" ng-model='formData.fixed.politics' value="other">Other
</div>

<h3 class="col-xs-6 col-xs-offset-1" for="title">Experience in improv/comedy</h3>
<div class="form-group col-xs-6 col-xs-offset-2">
  <br>
    <input type="radio" ng-model='formData.fixed.experienceInYears' value="0">A few months
  <br>
    <input type="radio" ng-model='formData.fixed.experienceInYears' value="1">About a year
  <br>
    <input type="radio" ng-model='formData.fixed.experienceInYears' value="2">A few years
  <br>
    <input type="radio" ng-model='formData.fixed.experienceInYears' value="5">Five or more years
  <br>
    <input type="radio" ng-model='formData.fixed.experienceInYears' value="10">A decade or more
</div>

<h3 class="col-xs-6 col-xs-offset-1" for="title">Are you currently enrolled in or signed up for an upcoming class?</h3>
<div class="form-group col-xs-6 col-xs-offset-2">
    <input type="radio" ng-model='formData.fixed.inClasses' value="yes">Yes
  <br>
    <input type="radio" ng-model='formData.fixed.inClasses' value="no">No
</div>

<h3 class="col-xs-6 col-xs-offset-1" for="title">Are you currently in a group?</h3>
  <div class="form-group col-xs-6 col-xs-offset-2">
      <input type="radio" ng-model='formData.fixed.inGroup' value="yes">Yes
    <br>
      <input type="radio" ng-model='formData.fixed.inGroup' value="no">No
  </div>

<h3 class="col-xs-6 col-xs-offset-1" for="title">What are you primarily hoping to find here?</h3>
<div class="form-group col-xs-6 col-xs-offset-2">
    <input type="radio" ng-model='formData.fixed.seeking' value="friends">Friends
  <br>
    <input type="radio" ng-model='formData.fixed.seeking' value="collaborators">Collaborators
  <br>
    <input type="radio" ng-model='formData.fixed.seeking' value="group">A new group
  <br>
    <input type="radio" ng-model='formData.fixed.seeking' value="members">New members for a current group
</div>

<div class="form-group col-xs-6 col-xs-offset-3">
  <a type="submit" ui-sref="form.quest3" class="btn btn-default">Next Section</a>
</div>